.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #0F0F0F;
}
.home-section {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-hero {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-main {
  gap: var(--dl-space-space-threeunits);
  width: 664px;
  height: 500;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  color: rgb(255, 255, 255);
  width: 718px;
  font-size: 64px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-caption {
  color: rgb(255, 255, 255);
  width: 700;
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
}
.home-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  display: contents;
}
.home-get-started {
  display: flex;
  text-decoration: none;
  background-color: #80FF44;
}
.home-text004 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-link1 {
  display: contents;
}
.home-get-started1 {
  text-decoration: none;
  background-color: #2A2A2A;
}
.home-text005 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-image {
  width: auto;
  height: 370;
  margin: auto;
  position: relative;
  object-fit: cover;
  align-content: center;
  flex-direction: column;
}
.home-section01 {
  flex: 1;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-text008 {
  color: #4be1ff;
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-paragraph {
  color: rgb(204, 204, 204);
  width: 1190px;
  height: auto;
  font-size: 24;
  align-self: center;
  text-align: left;
  font-family: Poppins;
  line-height: 28px;
}
.home-text016 {
  color: #cccccc;
  font-family: Poppins;
  line-height: 28px;
}
.home-text017 {
  line-height: 36px;
  text-transform: capitalize;
}
.home-text018 {
  color: #c6ff4b;
  font-weight: 700;
}
.home-text019 {
  color: #c6ff4b;
  font-family: Poppins;
  font-weight: 700;
  line-height: 28px;
}
.home-text020 {
  line-height: 36px;
  text-transform: capitalize;
}
.home-text033 {
  color: #cccccc;
  font-family: Poppins;
  line-height: 28px;
}
.home-text034 {
  line-height: 36px;
  text-transform: capitalize;
}
.home-section02 {
  gap: var(--dl-space-space-sixunits);
  flex: 1;
  width: 1200px;
  display: flex;
  padding-top: 120px;
  border-color: #51515A;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: center;
}
.home-container1 {
  width: 500;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text036 {
  color: rgb(198, 255, 75);
  height: 120px;
  font-size: 40px;
}
.home-text039 {
  color: rgb(255, 255, 255);
  font-size: 26;
  align-self: center;
  margin-top: 30px;
  text-align: center;
}
.home-container2 {
  width: 500;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text040 {
  color: rgb(198, 255, 75);
  height: 120px;
  font-size: 40px;
  align-self: center;
  text-align: center;
}
.home-text043 {
  color: rgb(255, 255, 255);
  font-size: 26;
  margin-top: 30;
  text-align: center;
}
.home-container3 {
  width: 500;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text044 {
  color: rgb(198, 255, 75);
  height: 120px;
  font-size: 40px;
  text-align: center;
}
.home-text045 {
  font-size: 40px;
}
.home-text047 {
  color: rgb(255, 255, 255);
  font-size: 26;
  margin-top: 30;
  text-align: center;
}
.home-section03 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #292929;
}
.home-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-header01 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-self: center;
  align-items: flex-start;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.home-heading01 {
  text-align: left;
}
.home-buttons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-ios {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  flex-direction: row;
  background-color: #289EDA;
}
.home-pasted-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.home-text048 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-image1 {
  top: -69px;
  right: -1px;
  width: 470px;
  height: 550px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
}
.home-section04 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-pricing {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
}
.home-header02 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-left {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-right {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-paragraph1 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  line-height: 32px;
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-plans-container {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-switch {
  gap: var(--dl-space-space-unit);
  display: none;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: 50px;
  flex-direction: row;
  padding-bottom: 8px;
  justify-content: center;
  background-color: #292929;
}
.home-text049 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-switch2 {
  padding-top: var(--dl-space-space-unit);
  background-color: #80FF44;
}
.home-text050 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-plans {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 50px;
  flex-direction: row;
  justify-content: center;
}
.home-plan {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 75vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #292929;
}
.home-details {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header03 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-name {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
}
.home-buy-details {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading03 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-list {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-buy {
  width: 100%;
  display: flex;
  background-color: #80FF44;
}
.home-text051 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-text052 {
  font-size: 24px;
}
.home-plan1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 75vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #292929;
}
.home-details01 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-name1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
}
.home-buy-details1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features1 {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading04 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-list1 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-buy1 {
  width: 100%;
  display: flex;
  background-color: #80FF44;
}
.home-text054 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-text055 {
  font-size: 24px;
}
.home-plan2 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 75vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #292929;
}
.home-details02 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-name2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
}
.home-buy-details2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features2 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading05 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-list2 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-buy2 {
  width: 100%;
  display: flex;
  margin-top: 92;
  background-color: #80FF44;
}
.home-text057 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-text058 {
  font-size: 24px;
}
.home-plans1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 50px;
  flex-direction: row;
  justify-content: center;
}
.home-plan3 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 75vh;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #292929;
}
.home-details03 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header06 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-name3 {
  color: rgb(255, 255, 255);
  font-size: 30;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
}
.home-buy-details3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features3 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading06 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-list3 {
  gap: var(--dl-space-space-unit);
  height: 135px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-buy3 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 150;
  padding-right: var(--dl-space-space-oneandhalfunits);
  background-color: #80FF44;
}
.home-text060 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-text061 {
  font-size: 24px;
}
.home-plan4 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 75vh;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #292929;
}
.home-details04 {
  gap: var(--dl-space-space-twounits);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header07 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-name4 {
  color: rgb(255, 255, 255);
  font-size: 30;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
}
.home-buy-details4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading07 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-list4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-buy4 {
  width: 100%;
  display: flex;
  margin-top: 220;
  background-color: #80FF44;
}
.home-text063 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-text064 {
  font-size: 24px;
}
.home-plan5 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 75vh;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #292929;
}
.home-details05 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header08 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-name5 {
  color: rgb(255, 255, 255);
  font-size: 30;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
}
.home-buy-details5 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading08 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-list5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-buy5 {
  width: 100%;
  display: flex;
  margin-top: 220;
  background-color: #80FF44;
}
.home-text066 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-text067 {
  font-size: 24px;
}
.home-help {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text069 {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  line-height: 24px;
}
.home-contact-support {
  gap: var(--dl-space-space-oneandhalfunits);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #80FF44;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-contact-support:hover {
  opacity: 0.5;
}
.home-text072 {
  color: rgb(128, 255, 68);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-section06 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-section07 {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-note {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
.home-image2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image3 {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.home-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading09 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading10 {
  color: #80FF44;
  width: 605px;
  align-self: flex-end;
}
.home-checkmarks {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-section08 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 110px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 111px;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-text073 {
  color: rgb(255, 255, 255);
  width: 1154px;
  height: 46px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-paragraph2 {
  color: rgb(204, 204, 204);
  width: 1149px;
  height: var(--dl-size-size-xxlarge);
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text076 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text080 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text084 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text088 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text093 {
  color: rgb(255, 255, 255);
  width: 1152px;
  height: 50px;
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-paragraph3 {
  color: rgb(204, 204, 204);
  width: 1147px;
  height: 347px;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text096 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text099 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text102 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text105 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text108 {
  color: #cccccc;
  font-size: 22px;
  font-family: Poppins;
  line-height: 28px;
}
.home-text110 {
  color: var(--dl-color-danger-500);
  font-style: normal;
  font-weight: 700;
}
.home-text111 {
  color: var(--dl-color-danger-500);
  font-size: 22px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 28px;
}
.home-section09 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
}
.home-header10 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-right1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-paragraph4 {
  width: 100%;
  max-width: 480px;
}
.home-cards {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-section11 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-note1 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
.home-image4 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image5 {
  object-fit: cover;
}
.home-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading12 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-section13 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.home-cube {
  top: 20px;
  left: 0px;
  width: 120px;
  height: 120px;
  display: flex;
  position: absolute;
  transform: rotateX(240deg) rotateY(25deg) rotateZ(-110deg);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform-style: preserve-3d;
}
.home-top {
  transform: translateZ(-120px);
  background-image: linear-gradient(270deg, rgb(253, 253, 253) 0.00%,rgb(178, 178, 178) 100.00%);
}
.home-front {
  transform: rotateX(90deg);
  background: grey;
  background-image: linear-gradient(90deg, rgb(247, 247, 247) 0.00%,rgb(203, 203, 203) 100.00%);
  transform-origin: bottom;
}
.home-left2 {
  width: 120px;
  transform: translateZ(-120px) rotateY(90deg);
  background-image: linear-gradient(90deg, rgb(247, 247, 247) 0.00%,rgb(203, 203, 203) 100.00%);
  transform-origin: right;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #292929;
}
.home-header12 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-description {
  font-size: 20px;
  line-height: 30px;
}
.home-buttons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-get-started2 {
  display: flex;
  background-color: #80FF44;
}
.home-text114 {
  color: #0C100C;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.home-book-demo {
  display: flex;
  background-color: #ffffff;
}
.home-text115 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.home-section14 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
}
.home-header13 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-left3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading15 {
  text-align: center;
}
.home-right2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-paragraph5 {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.home-cards1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  grid-template-columns: auto auto auto;
}
.home-container5 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-container6 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-container7 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home-view-more {
  gap: var(--dl-space-space-oneandhalfunits);
  cursor: pointer;
  display: none;
  transition: 0.3s;
  align-items: center;
  border-color: #80FF44;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-view-more:hover {
  opacity: 0.5;
}
.home-text116 {
  color: rgb(128, 255, 68);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-section16 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  padding-top: 120px;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
}
.home-header14 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading16 {
  text-align: center;
}
.home-cards2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-section18 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
}
.home-header15 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading17 {
  text-align: center;
}
.home-accordion {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-accordion1 {
  width: 100%;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-element {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details06 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text117 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text121 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 24px;
  user-select: text;
}
.home-icons {
  position: relative;
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element1 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details07 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text125 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text128 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon02 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element2 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text132 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text135 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon04 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element3 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details09 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text139 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text140 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon06 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element4 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details10 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text141 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text143 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text145 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon08 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element5 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details11 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text146 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text149 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element6 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details12 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text152 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text155 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon12 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element7 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details13 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text158 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text159 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon14 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-element8 {
  width: 100%;
  max-width: 800px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-details14 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text160 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 28px;
}
.home-text161 {
  color: rgb(204, 204, 204);
  width: 100%;
  font-family: Poppins;
  line-height: 28px;
  user-select: text;
}
.home-icon16 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-footer {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-content3 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-main-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-content4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-main2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-branding {
  width: 120px;
  object-fit: cover;
}
.home-text162 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  max-width: 260px;
  font-family: Poppins;
  line-height: 21px;
}
.home-socials {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-link2 {
  display: contents;
}
.home-link3 {
  display: contents;
}
.home-link4 {
  display: contents;
}
.home-categories {
  gap: var(--dl-space-space-fourunits);
  flex: 1;
  display: none;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-category {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-links {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-category1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 175px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-icon18 {
  width: 24px;
  height: 24px;
}
.home-copyright {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text176 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
.home-subscribe {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-main3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading18 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  max-width: 275px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 30px;
}
.home-input-field {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: 50px;
  flex-direction: row;
  justify-content: center;
  background-color: #292929;
}
.home-textinput {
  flex: 1;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  outline-style: none;
  background-color: rgba(217, 217, 217, 0);
}
.home-buy6 {
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #80FF44;
}
.home-text177 {
  color: rgb(12, 16, 12);
  display: none;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-text178 {
  color: rgb(12, 16, 12);
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-notice {
  color: rgb(104, 104, 104);
  font-size: 14px;
  max-width: 400px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 21px;
}
.home-copyright1 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text181 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
.home-slide-to-top {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link5 {
  display: contents;
}
.home-icon20 {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  position: fixed;
  transition: opacity 0.3 ease-in-out;
  text-decoration: none;
  background-color: aliceblue;
}
@media(max-width: 1600px) {
  .home-heading {
    width: 670px;
  }
  .home-text004 {
    color: rgb(12, 16, 12);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
  }
  .home-image {
    width: 538px;
    height: 369px;
  }
  .home-image1 {
    top: -69px;
    right: -1px;
  }
  .home-plan {
    width: auto;
  }
  .home-plan1 {
    width: auto;
  }
  .home-footer {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .home-slide-to-top {
    z-index: 1000;
    align-self: flex-end;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .home-icon20 {
    right: 151px;
    width: 70px;
    bottom: 62px;
    height: 66px;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 1200px) {
  .home-hero {
    width: 670;
    display: block;
  }
  .home-heading {
    width: 664px;
  }
  .home-image {
    width: 670;
    height: 400px;
    padding: 0;
    margin-top: 40;
    object-fit: contain;
    margin-bottom: 40;
    padding-bottom: 60px;
  }
  .home-paragraph {
    padding: 30;
  }
  .home-section02 {
    padding-left: 30;
    padding-right: 30;
  }
  .home-image1 {
    top: -72px;
    right: 3px;
  }
  .home-text073 {
    width: 80%;
  }
  .home-paragraph2 {
    width: 80%;
  }
  .home-text093 {
    width: 80%;
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .home-paragraph3 {
    width: 80%;
  }
  .home-text117 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
  }
  .home-text119 {
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 28px;
  }
  .home-text121 {
    color: rgb(204, 204, 204);
    font-family: Poppins;
    line-height: 24px;
  }
  .home-text128 {
    color: rgb(204, 204, 204);
    font-family: Poppins;
    line-height: 28px;
  }
}
@media(max-width: 991px) {
  .home-section {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    position: relative;
    max-width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-content {
    position: relative;
    align-items: center;
  }
  .home-main {
    align-items: center;
  }
  .home-heading {
    text-align: left;
  }
  .home-caption {
    text-align: left;
  }
  .home-buttons {
    width: 100%;
  }
  .home-get-started {
    flex: 1;
  }
  .home-get-started1 {
    flex: 1;
  }
  .home-image {
    width: 500px;
  }
  .home-section01 {
    padding-bottom: 120;
  }
  .home-text008 {
    text-align: center;
  }
  .home-paragraph {
    width: 800px;
    height: auto;
    padding: 0;
  }
  .home-section02 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-text036 {
    color: rgb(198, 255, 75);
    font-size: 30px;
  }
  .home-text037 {
    font-size: 40px;
  }
  .home-text040 {
    font: 30px;
  }
  .home-text044 {
    font-size: 30px;
  }
  .home-content1 {
    width: 1000px;
    align-items: center;
    flex-direction: column;
  }
  .home-header01 {
    height: 272px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .home-buttons1 {
    width: 100%;
  }
  .home-ios {
    flex: 1;
    justify-content: center;
  }
  .home-image1 {
    width: 267px;
    height: 385px;
    display: none;
    position: static;
    align-self: flex-end;
    object-fit: none;
  }
  .home-plans {
    flex-direction: column;
  }
  .home-plan {
    width: 70%;
  }
  .home-plan1 {
    width: 70%;
  }
  .home-plan2 {
    width: 70%;
  }
  .home-plans1 {
    flex-direction: column;
  }
  .home-plan3 {
    width: 70%;
  }
  .home-plan4 {
    width: 70%;
  }
  .home-plan5 {
    width: 70%;
  }
  .home-section07 {
    widht: 80%;
  }
  .home-image2 {
    flex: 0;
  }
  .home-text073 {
    text-align: center;
  }
  .home-paragraph2 {
    width: 900;
    margin-left: 0;
  }
  .home-text093 {
    text-align: center;
  }
  .home-paragraph3 {
    width: 900;
    margin-left: 0;
  }
  .home-section09 {
    gap: var(--dl-space-space-threeunits);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-header10 {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-cards {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-section11 {
    padding-top: 0px;
  }
  .home-note1 {
    flex-direction: column-reverse;
  }
  .home-banner {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-buttons2 {
    width: 100%;
    flex-direction: column;
  }
  .home-get-started2 {
    width: 100%;
  }
  .home-book-demo {
    width: 100%;
  }
  .home-section14 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-cards1 {
    grid-template-columns: auto;
  }
  .home-container7 {
    display: none;
  }
  .home-view-more {
    display: flex;
    border-color: #CCCCCC;
  }
  .home-text116 {
    color: #CCCCCC;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-cards2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-content3 {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-copyright {
    display: none;
  }
  .home-copyright1 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-bottom: 30;
  }
  .home-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    font-size: 40px;
  }
  .home-caption {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
  }
  .home-get-started {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-get-started1 {
    display: none;
  }
  .home-section01 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-text008 {
    font-size: 32px;
    text-align: center;
  }
  .home-paragraph {
    width: 660;
    height: auto;
    line-height: 24px;
  }
  .home-section02 {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: 120;
  }
  .home-text036 {
    font-size: 26;
    text-align: center;
  }
  .home-text039 {
    font-size: 24;
  }
  .home-text040 {
    color: rgb(198, 255, 75);
    font-size: 26;
  }
  .home-text041 {
    font-size: 40px;
  }
  .home-text043 {
    font-size: 24;
  }
  .home-text044 {
    font-size: 26;
  }
  .home-text047 {
    font-size: 24;
  }
  .home-section03 {
    padding-top: var(--dl-space-space-fourunits);
  }
  .home-buttons1 {
    flex-direction: column;
  }
  .home-ios {
    flex: 0 0 auto;
    width: 100%;
  }
  .home-image1 {
    align-self: center;
  }
  .home-plans {
    flex-direction: column;
  }
  .home-plan {
    width: 100%;
    height: 650;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-plan1 {
    width: 100%;
    height: 650;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-plan2 {
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-plans1 {
    flex-direction: column;
  }
  .home-plan3 {
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-buy3 {
    height: 75px;
  }
  .home-plan4 {
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-plan5 {
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-help {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-section07 {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-note {
    flex-direction: column-reverse;
  }
  .home-image3 {
    display: none;
  }
  .home-section08 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-text073 {
    font-size: 32px;
    text-align: center;
  }
  .home-paragraph2 {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
  .home-text093 {
    font-size: 32px;
    text-align: center;
  }
  .home-paragraph3 {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
  .home-left1 {
    gap: var(--dl-space-space-unit);
  }
  .home-content2 {
    width: 100%;
  }
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-section14 {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-cards2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-text117 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text118 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text120 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text125 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text132 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text139 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text141 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text142 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text144 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text146 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text152 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text158 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text160 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-content4 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-main2 {
    gap: var(--dl-space-space-twounits);
  }
  .home-categories {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-text178 {
    color: rgb(12, 16, 12);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .home-main {
    width: auto;
  }
  .home-header {
    width: 449px;
    align-items: flex-start;
  }
  .home-heading {
    width: 100%;
    max-width: 280px;
  }
  .home-buttons {
    width: 60%;
  }
  .home-image {
    width: 400;
  }
  .home-section01 {
    height: 1570px;
  }
  .home-paragraph {
    width: 100%;
    height: 100%;
  }
  .home-section02 {
    gap: var(--dl-space-space-unit);
    height: 2079px;
  }
  .home-text036 {
    font-size: 22;
  }
  .home-text040 {
    font-size: 22;
  }
  .home-text041 {
    font-size: 24px;
  }
  .home-text044 {
    font-size: 22;
  }
  .home-text045 {
    font-size: 24px;
  }
  .home-section03 {
    height: 840px;
    padding-top: 164px;
    padding-bottom: 130px;
  }
  .home-content1 {
    height: auto;
  }
  .home-header01 {
    width: 383px;
  }
  .home-image1 {
    width: 479px;
    height: 870px;
    align-self: center;
  }
  .home-pricing {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading02 {
    font-size: 32px;
    text-align: center;
  }
  .home-paragraph1 {
    font-size: 16px;
  }
  .home-buy3 {
    height: 100%;
  }
  .home-plan5 {
    width: 100%;
    height: 100%;
  }
  .home-image3 {
    width: 0;
  }
  .home-main1 {
    width: 70%;
  }
  .home-section08 {
    width: 100%;
  }
  .home-paragraph2 {
    width: 100%;
    heigth: 100%;
  }
  .home-text093 {
    margin-top: 50px;
  }
  .home-paragraph3 {
    width: 100%;
    height: 100%;
  }
  .home-textinput {
    flex: 1;
  }
  .home-text177 {
    color: rgb(12, 16, 12);
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
  }
  .home-text178 {
    color: rgb(12, 16, 12);
    display: none;
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
  }
}
