.details-details {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.details-header {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.details-name {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
}
