.mobile-menu-mobile-menu {
  gap: var(--dl-space-space-twounits);
  top: -417.796875px;
  right: -2280px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  background-color: #fff;
}
.mobile-menu-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-menu-image {
  width: 100px;
  filter: brightness(0) saturate(100%);
  object-fit: cover;
}
.mobile-menu-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-menu-icon {
  width: 24px;
  height: 24px;
}
.mobile-menu-nav-links {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-gray-black);
  display: flex;
  flex-direction: column;
}
.mobile-menu-text {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 767px) {
  .mobile-menu-branding {
    width: 100%;
  }
  .mobile-menu-nav-links {
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
}
