.nav-links-nav-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.nav-links-link {
  text-decoration: none;
}
.nav-links-link1 {
  text-decoration: none;
}
.nav-links-link2 {
  text-decoration: none;
}
.nav-links-link3 {
  text-decoration: none;
}

@media(max-width: 767px) {
  .nav-links-nav-links {
    display: none;
  }
}
